{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": "off",
    "import/no-extraneous-dependencies": "off",
    "no-mixed-operators": "off"
  }
}
