doctype
head
  title goLance

  include includes/meta.pug

  link(href='/styles.css' rel='stylesheet')

body
  include includes/header.pug

  block content

  include includes/footer.pug

  script(src='/scripts.js' async)
